body{
    background-color: rgb(0, 0, 0);
    font-family: agency fb;
    color: rgb(255, 255, 255);
}

#header {
    /* background-color: black; */
    width: auto;
    justify-content: flex-end;
    display: flex;
    height: auto;
}

#nav ul {
    position: relative;
    display: flex;
}

#nav li{
    font-family: agency fb;
    font-size: 20px;
    color : #bab575;
    list-style: none;
    display: flex;
    padding: 14px 24px;
    /* padding-right: 250px; */
    
}

#nav li a {
    text-decoration: none;
    color: #bab575;
}

.card{
    justify-content: center;
    gap: 50px;
    align-items: center;
    display: flex;
}

 #tittle {
font-weight: bold;
font-size: 35px;
}

#artist{
    font-style: italic;
    color: rgb(180, 173, 173);
}
#song-info {
    /* background-color: #bab575; */
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    /* align-items: center; */
    border: 1.5px solid #bab575;
    width: 2.5in;
    height: 2.5in;
}

#song-info ul {
    position: relative;
    list-style-type: none;
    padding: 0; 
    margin: 0; 
}

#song-info li {
    position: relative;
    display: flex;
    justify-content: center;
    
    margin: 0.1in 0; 
}

#song-info img {
    position: static;
    max-width: 100%; 
    height: auto; 
}

#song-info p {
    margin: 0; 
}

#play{

    display: none;
    transition: 1s ease-in;
}

#song-info:hover #play {
    cursor: pointer;
    display: grid;
    transition: ease-in 2s;
    align-items: flex-end;
}

#song-info #thumb {
    width: 1.8in;
    height: 1in;
}

#back{
    color: black;
    margin-left: 45%;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 125px;
    height: 40px;
    background-color: #bab575;
    transition: 0.5s ease-in;
}

#back:hover{
    color: black;
    font-weight: 600;
    background-color: rgb(120, 255, 120);
}
